.ui.card {
    padding: 1em;
   
    position: relative;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    width: 30em;
    height: 20em;
    margin-bottom: 2em;
    
  }
  
.image{
 
    width: 150px;
    height: 150px;
   
  }
  .textData{
    color: rgb(13, 139, 41);
    margin-top: 25px;
    font-size: 14px;
    font-weight: bolder;
  
  }
  .textoStatus {
    font-weight: bolder;
    color: rgb(0, 5, 0);
    font-size: x-large;
   text-align: center;
   padding: 10px;
   
   
  }
  .ui.card:first-child{
    margin-top: 20px;
  }
  
  /*cor lampada*/
  .svg-inline--fa.fa-w-11{ 
    color:rgb(17, 240, 36);
  }
  /*cor catavento*/
  .svg-inline--fa.fa-w-16{
    color:yellow;
  }
  /*cor agua*/
  .svg-inline--fa.fa-w-18{
    color:blue;
  }
  /*estilização dos icones*/
  .svg-inline--fa{
    margin-top: 8px;
    margin-bottom: 29px;
  }

  .conteiner {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 248, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }