
.ui.card {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 200px;
    
  }
  .image{
    width: 150px;
    height:200px;
   
  }
  .coluna{
    display: flex;
    flex-direction: column;
  }

  .luz{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  .vento{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }

  .agua{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  
  .onoff{
    color:black;
    
  }
  

  .textData{
    color: rgb(13, 139, 41);
    margin-top: 25px;
    font-size: 14px;
    font-weight: bolder;
  
  }
  .textoStatus {
    font-weight: bolder;
    color: rgb(0, 5, 0);
    font-size: x-large;
   text-align: center;
   padding: 10px;
   
   
  }
  .ui.card:first-child{
    margin-top: 20px;
  }
  
  /*cor lampada*/
  .svg-inline--fa.fa-w-11{ 
    color:rgb(17, 240, 36);
  }
  /*cor catavento*/
  .svg-inline--fa.fa-w-16{
    color:yellow;
  }
  /*cor agua*/
  .svg-inline--fa.fa-w-18{
    color:blue;
  }
  /*estilização dos icones*/
  .svg-inline--fa{
    margin-top: 8px;
    margin-bottom: 29px;
  }
