.container{
    margin: 300px auto;
    background-color: blanchedalmond;
    width: 400px;
    height: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
}

.botao{
    background-color: turquoise;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
}
.botao:last-child{
    margin-left: 5px;
}

.teste {
    background:red;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    