


.Title h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 400;
    color: azure;
}
.textoG {


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 255, 250);
    margin-left: 18px;
    margin-bottom: 0.00em;
    font-size: 5em;
  }