body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.herder {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(17, 240, 36);
  background: rgb(17, 240, 36);
  z-index: 2;
}
.conteiner {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(241, 248, 239);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.conteinerLogin {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(68, 187, 35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}



.input {

  padding: 2px;
  display: flex;
  justify-content: space-around;
  border-radius: 20em;
}

.textoM {
  font-weight: bolder;
  color: rgb(245, 252, 245);
  font-size: x-large;
  margin-bottom: 1.5em;
 
}.textoStatus {
  font-weight: bolder;
  color: rgb(0, 5, 0);
  font-size: x-large;
 text-align: center;
 padding: 10px;
 
 
}

.ui.button {
  border-radius: 8em;
  width: 11em;
  height: 3em;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
}
.ui.input>input{
  border-radius: 20em;

}
.font{
  margin-bottom: 1em;
}

.ui.card {
  padding: 1em;
  position: relative;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  width: 30em;
  height: 20em;
  
}
.image{
 
  width: 150px;
  height: 150px;
 
}
.textData{
  color: rgb(13, 139, 41);
  margin-top: 25px;
  font-size: 17px;
  font-weight: bolder;

}